
.one {
	min-width: 824.25;
	min-height: 524.22;
	width:100%;
	height:100%;
	background-image: url(post.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.left {
	position: absolute;
	top: 27%;
	left: 30px;
	right: 52%;
	font-family: Chalkduster;
}
.right {
	position: absolute;
	top: 27%;
	left: 52%;
	right: 30px;
	font-family: Chalkduster;
}
.chapter {
	position: absolute;
	top: 12%;
	left: 50px;
	font-family: American Typewriter;
}
img {
	position: absolute;
	display: block;
	top: 30px;
	right: 30px;
	width: 200px;
	height: 125px;
}
.ten {
	min-height: 570;
	min-width: 824.25;
	width: 100%;
	height: 100%;
	background-image: url(fourth.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.fourth {
	position: absolute;
	display: block;
	top: 30px;
	right: 15px;
	width: 200px;
	height: 125px;
}
.eleven {
	min-height: 570;
	min-width: 824.25;
	width: 100%;
	height: 100%;
	background-image: url(white.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.chapter11 {
	position: absolute;
	top: 17%;
	left: 50px;
	font-family: American Typewriter;
}
img .baby {
	position: absolute;
	display: block;
	top: 15px;
	right: 12px;
	width: 100px;
	height: 250px;
}
div .homepage {
	max-height: 1024px;
	max-width: 1024px;
	width: 100%;
	height: 100%;
}
.homepage12{
	/* 12: */
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	top: 24%;
	left: 49%;
	position: absolute;
}
.homepage1{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	top: 27%;
	left: 38%;
	position: absolute;
}
.homepage11{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	top: 27%;
	left: 61%;
	position: absolute;
}
.homepage2{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 37%;
	left: 29%;
}
.homepage10{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	top: 37%;
	left: 69%;
	position: absolute;
}
.homepage3{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 48%;
	left: 26%;
}
.homepage9{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 48%;
	left: 73%;
}
.homepage4{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 60%;
	left: 29%;
}
.homepage8{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 60%;
	left: 69%;
}
.homepage5{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 68%;
	left: 37%;
}
.homepage7{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 68%;
	left: 61%;
}
.homepage6{
	font-family: Zapfino;
	font-size: 9px;
	color: #000000;
	letter-spacing: -0px;
	position: absolute;
	top: 71%;
	left: 49%;
}
.minute{
	position: absolute;
	display: block;
	top: 30%;
	left: 49%;
	width: 16px;
	height: 110px;
}
.hour{
	position: absolute;
	display: block;
	top: 36%;
	left: 36%;
	width: 29%;
	height: 30%;
}




