.bodyy{
	position: absolute;
	left: 631px;
}
.Y-1 {
	width: 15px;
	height: 15px;
	background-color: #3432ED;
	border: solid;
	border-width: 1px;
	top: -32px;
	position: relative;
}
.Y-2 {
	width: 15px;
	height: 15px;
	background-color: #3432ED;
	border: solid;
	border-width: 1px;
	top: -27px;
	position: relative;
}
.Y-3 {
	background-color: #3432ED ;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: -44px;
    left: 22px;
}
.Y-4 {
	background-color: #3432ED ;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: -39px;
    left: 22px;
}
.Y-5 {
	background-color: #3432ED;
	width:15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: -78px;
    left: 45px;
}
.Y-6 {
	background-color: #3432ED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: -117px;
    left: 45px;
}
.P-3 {
	background-color: #3432ED;
	width: 15px;
	height: 15px;
	border-style: outset;
	border-width: 2px;
	position: relative;
	bottom: 195px;
}
.P-1 {
	background: -webkit-linear-gradient(left, #00EBC0 , #A0F352);
	width: 35px;
	height: 35px;
	border-style: outset;
	border-width: 2px;
	position: relative;
	bottom: 195px;
}
.P-2 {
	background: -webkit-linear-gradient(left, #00EBC0 , #A0F352);
	width: 35px;
	height: 35px;
	border-style: outset;
	border-width: 2px;
	position: relative;
	bottom: 195px;
}
.P-4 {
	background: -webkit-linear-gradient(#00EBC0 , #A0F352);
	width: 35px;
	height: 35px;
	border-style: outset;
	border-width: 2px;
	position: relative;
	left: 39px;
	bottom: 312px;
}
.P-5 {
	background-color: #A0F352;
	width: 35px;
	height: 35px;
	border-style: outset;
	border-width: 2px;
	position: relative;
	left: 39px;
	bottom: 312px;
}
.column2{
	width: 15%;
	height: 800px;
	right: 0px;
	position: relative;
    float: right;
}
.column1{
	background-color: black;
	float: left;
	position: relative;
	height: 800px;
	width: 85%;
}
body {

	min-width: 800px;
	min-height: 700px;
	max-height: 800px;
	width: 1050px;
	height: 800px;
}
.f1{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 25px;
    left: 10px;
}
.f2{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    top: 30px;
    left: 10px;
}
.f3{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    top: 35px;
    left: 10px;
}
.f4{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 32px;
    bottom: 26px;
}
.f5{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 32px;
    bottom: 21px;
}
.f6{
	background-color: #5B3D4F;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    left: 54px;
    bottom: 60px;
}
.u1{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 78px;
    bottom: 77px;
}
.u2{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 78px;
    bottom: 72px;
}
.u3{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 78px;
    bottom: 67px;
}
.u4{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 101px;
    bottom: 84px;
}
.u5{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 124px;
    bottom: 101px;
}
.u6{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 124px;
    bottom: 140px;
}
.u7{
	background-color: #00EBC0;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 124px;
    bottom: 179px;
}
.n1{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 149px;
    bottom: 152px;
}
.n2{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 149px;
    bottom: 191px;
}
.n3{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 149px;
    bottom: 230px;
}
.n4{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 172px;
    bottom: 247px;
}
.n5{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 195px;
    bottom: 264px;
}
.n6{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 195px;
    bottom: 259px;
}
.n7{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 195px;
    bottom: 254px;
}
.factsf{
	position: relative;
	bottom: 255px;
}
.a1{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 195px;
    bottom: 254px;
}
.a2{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 195px;
    bottom: 249px;
}
.a3{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 172px;
    bottom: 266px;
}
.a4{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 172px;
    bottom: 261px;
}
.a5{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 300px;
}
.a6{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 295px;
}
.factsa{
	position: relative;
	bottom: 78px;
	right: 117px;
}
.c1{
	background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 295px;
}
.c2{
		background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 196px;
    bottom: 312px;
}
.c3{
		background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 173px;
    bottom: 329px;
}
.c4{
		background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 173px;
    bottom: 324px;
}
.c5{
	background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 173px;
    bottom: 319px;
}
.c6{
		background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 196px;
    bottom: 336px;
}
.c7{
		background-color: #FD60E1;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 353px;
}
.factsc{
	position:relative;
	bottom:139px;
	right:48px;
}
.t1{
	background-color: #806492;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 196px;
    bottom: 336px;
}
.t2{
	background-color: #806492;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 353px;
}
.t3{
	background-color: #806492;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 348px;
}
.t4{
	background-color: #806492;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 218px;
    bottom: 343px;
}
.t5{
	background-color: #806492;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 240px;
    bottom: 404px;
}
.factst{
	position:relative;
	bottom:217px;
	right:3px;
}
.h1{	
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
}
.h2{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 5px;
}
.h3{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 10px;
}
.h4{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 22px;
    bottom: 29px;
}
.h5{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 45px;
    bottom: 46px;

}
.h6{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 45px;
    bottom: 85px;
}
.h7{
	background-color: #3276EE;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 45px;
    bottom: 58px;
}
.handsh{
	position:absolute;
    left:10px;
    top:0px;
}
.handsa{
	position: absolute;
	left:80px;
	top:0px;
}
.handsa1{

	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 22px;
}
.handsa2{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: 5px;
}
.handsa3{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    top: 10px;
}
.handsa4{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 22px;
    bottom: 29px;
}
.handsa5{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	left: 44px;
    bottom: 46px;
}
.handsa6{
	background-color: #FD6074;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 44px;
    bottom: 41px;
}
.handsn{
	position: absolute;
	left:39px;
	top: -20px;

}
.handsn1{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 110px;
}
.handsn2{
		background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 110px;
    bottom: -5px;
}
.handsn3{
		background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 110px;
    bottom: -10px;
}
.handsn4{
		background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 133px;
    bottom: 51px;
}
.handsn5{
		background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 156px;
    bottom: 68px;
}
.handsn6{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 157px;
    bottom: 41px;
}
.handsn7{
	background-color: #AE0527;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 156px;
    bottom: 80px;
}
.d1{
	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 157px;
    bottom: 80px;
}
.d2{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 157px;
    bottom: 75px;
}
.d3{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 157px;
    bottom: 70px;
}
.d4{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 180px;
    bottom: 131px;
}
.d5{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 180px;
    bottom: 126px;
}
.d6{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 180px;
    bottom: 121px;
}
.d7{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 134px;
    bottom: 182px;
}
.d8{

	background-color: #CCF54A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    left: 134px;
    bottom: 155px;
}
.handsd{
	position:absolute;
	left: 86px;
	bottom: 584px;
}
.s1{
	background-color: #565C84;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 5px;
}
.s2{
	background-color: #565C84;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 10px;

}
.s3{
	background-color: #565C84;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top:15px;
}
.s4{
background-color: #565C84;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    left: 23px;
    bottom: 46px;
}
.s5{
	background-color: #565C84;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    right: 23px;
    bottom: 19px;
}
.handss{
	position:absolute;
	left: 313px;
	bottom: 720px;
}
.anda{
	position: absolute;
	left: 385px;
    bottom: 699px;
}
.andn{
	position: absolute;
	left: 343px;
}
.andd{
	position: absolute;
	left: 390px;
}
.feetf{
	position: absolute;
	left: 615px;
}
.feete1{
	position: absolute;
	left: 716px;
}
.e1{
		background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: 1px;
    bottom: 2px;
}
.e2{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    right: 23px;
    bottom: 19px;
}
.e3{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: 23px;
    bottom: 14px;
}
.e4{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: 23px;
    bottom: 9px;
}
.e5{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: 1px;
    bottom: 49px;
}
.e6{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: 1px;
    bottom: 43px;
}
.e7{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
    right: -21px;
    bottom: 104px;
}
.e8{
	background-color: #A0F352;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	right: -21px;
    bottom: 77px;
}
.feete2{
	position: absolute;
	left: 783px;
}
.feett{
	position: absolute;
	left: 631px;
}
.haveh{
	position: absolute;
	left: 10px;

}
.havea{
	position: absolute;

	left: 80px;
}
.havev{
	position: absolute;

	left: 150px;

}
.v1{
	background-color: #C0CD9A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
}
.v2{
	background-color: #C0CD9A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 5px;
}
.v3{
	background-color: #C0CD9A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    top: 10px;
    left: 22px;
}
.v4{
	background-color: #C0CD9A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    left: 45px;
    bottom: 51px;
}
.v5{
	background-color: #C0CD9A;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    left: 45px;
    bottom: 46px;
}
.havee{
	position: absolute;

	left: 243px;
}
.morem{
	position: absolute;
	left:342px;

}		
.m1{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
}
.m2{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 5px;
}
.m3{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	top: 10px;
}
.m4{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	bottom: 39px;
	left: 22px;
}
.m5{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    bottom: 68px;
    left: 44px;
}
.m6{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    bottom: 63px;
    left: 44px;
}
.m7{
	background-color: #964AED;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
	    left: 44px;
    bottom: 58px;
}
.o1{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position: relative;
}
.o2{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
}
.o3{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top:10px;
}
.o4{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    bottom: 51px;
}
.o5{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    bottom: 68px;
    left: 45px;
}
.o6{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 45px;
    bottom: 63px;
}
.o7{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    bottom: 58px;
    left: 45px;
}
.o8{
	background-color: #F8E87B;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    bottom: 75px;
    left: 22px;
}
.moreo{
	position: absolute;
	left: 411px;
}
.r1{
	background-color: #D9B2E6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
}
.r2{
	background-color: #D9B2E6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
}
.r3{
	background-color: #D9B2E6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top:10px;
}
.r4{
	background-color: #D9B2E6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    bottom: 51px;
}
.r5{
	background-color: #D9B2E6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 44px;
    bottom: 68px;
}
.morer{
	position: absolute;
	left: 483px;
}
.moree{
	position: absolute;
	left: 576px;
}
.b1{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;

}
.b2{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
}
.b3{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 10px;
}
.b4{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    bottom: 29px;
}
.b5{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    bottom: 24px;
}
.b6{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 44px;
    bottom: 63px;
}
.b7{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 44px;
    bottom: 58px;
}
.b8{
	background-color: #D9EFDB;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    bottom: 119px;
}
.bonesb{
	position: relative;
	left: 255px;
}
.boneso{
	position: relative;
	left: 325px;
}
.bonesn{
	position: relative;
	left: 286px;
}
.bonese{
	position: relative;
	left: 491px;
}
.boness{
	position: relative;
	left: 563px;
}
.thant{
	position:relative;
	left: -186px;
}
.thanh{
	position: relative;
	left: 79px;
}
.thana{
	position: absolute;
	left: 150px;
}
.thann{
	position: absolute;
	left: 110px;
}
.halfh{
	position: absolute;
	    left: 341px;
}
.halfa{
	position: absolute;
	    left: 412px;
}
.l1{
		background-color: #CB5D73;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
}
.l2{
		background-color: #CB5D73;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
}
.l3{
		background-color: #CB5D73;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 10px;
}
.l4{
		background-color: #CB5D73;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 23px;
    bottom: 7px;
}
.l5{
		background-color: #CB5D73;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 46px;
    bottom: 24px;
}
.halfl{
	position: absolute;
	left: 483px;
}
.halff{
	position: absolute;
	left: 534px;
}
.ofo{
	position: absolute;
	left: 668px;
}
.off{
	position: absolute;
	left: 733px
}
.thet{
	position: absolute;
	left: -186px;
}
.theh{
	position: absolute;
	left: 79px;
}
.thee{
	position: absolute;
	left: 173px;
}
.humanh{
	position: absolute;
	left: 10px
}
.humanu{
	position: absolute;
	left: 5px;
}
.humanm{
	position: absolute;
	left: 157px;
}
.humana{
	position: absolute;
	left: 228px;
}
.humann{
	position: absolute;
	left: 191px;
}
.bodyb{
	position: absolute;
	left: 417px;
}
.bodyo{
	position: absolute;
	left: 487px;
}
.bodyd{
	position: absolute;
	left: 425px;

}
.ini{
	position: absolute;
	left: 10px
}
.inn{
	position: absolute;
	left: -28px;
}
.i1{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 22px;
}
.i2{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
	left: 22px;
}
.i3{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 10px;
	left: 22px;
}
.i4{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	bottom: 51px;
}
.i5{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	bottom: 24px;
}
.i6{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
    bottom: 85px;
    left: 45px;
}
.i7{
	background-color: #7C74E8;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
    left: 45px;
    bottom: 58px;
}
.thet1{
	position: absolute;
	left: 25px;
}
.theh1{
	position: absolute;
	left: 292px;
}
.thee1{
	position: absolute;
	left: 388px;
}
#fun {
	font-family: 'Spectral', serif;
    font-size: 60px;
    margin: 24px;
    width: 300px;
}
#description{
	font-family: 'Spectral', serif;
	margin: 12px;
    width: 300px;
}
.next{
	font-family: 'Spectral', serif;
	left: 50px;
	text-align: right;
}
.x1{
		background-color: #B0AFA6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
}
.x2{
		background-color: #B0AFA6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 22px;
    top: 5px;
}
.x3{
		background-color: #B0AFA6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    top: 10px;
}
.x4{
		background-color: #B0AFA6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    bottom: 51px;
    left: 43px;
}
.x5{
		background-color: #B0AFA6;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 43px;
    bottom: 25px;
}

.button {
    position: absolute;
    bottom: 500px;
    left: 500px;
   }
.a{
	position: absolute;
	left: 10px;
}
.giraffeg{
	position: absolute;
	left: 120px;

}
.giraffei{
	position: absolute;
	left: 191px;
}
.giraffer{
	position: absolute;
	left: 263px;
}
.giraffea{
	position: absolute;
	    left: 333px;
}
.giraffef{
	position: absolute;
	    left: 394px;
    top: -25px;
}
.giraffef1{
	position: absolute;
	    left: 463px;
    top: -25px;
}
.giraffee{
	position: absolute;
	    left: 565px;
    top: 2px;
}
.g1{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;

}
.g2{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;

}
.g3{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 10px;

}
.g4{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 22px;
    bottom: 7px;

}
.g5{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 22px;
	    bottom: 68px;

}
.g6{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
    left: 45px;
    bottom: 41px;
}
.g7{
		background-color: #DED0B2;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 45px;
    bottom: 80px;
}
.canc{
	position: absolute;
	left: 480px;
}
.cana{
	position: absolute;
	left: 725px;
}
.cann{
	position: absolute;
	left: 686px;
}
.w1{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	
}
.w2{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 5px;
	
}
.w3{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	top: 10px;
	
}
.w4{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 22px;
	    top: -18px;
}
.w5{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 45px;
    top: -67px;
	
}
.w6{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	    left: 45px;
    top: -63px;
	
}
.w7{
	background-color: #FC6915;
	width: 15px;
	height: 15px;
	border: solid;
	border-width: 1px;
	position:relative;
	left: 45px;
	top: -58px;
}
.cleanc{
	position: absolute;
	left: -162px;
}
.cleanl{
	position: absolute;
	left: 83px;
}
.cleane{
	position: absolute;
	left: 178px;
}
.cleana{
	position: absolute;
	left: 225px;
}
.cleann{
	position: absolute;
	    left: 184px;
}
.itsi1{
	position: absolute;
	    left: 403px;
}
.itst1{
	position: absolute;
	    left: 277px;
}
.itss1{
	position: absolute;
	    left: 564px;
}
.owno{
	position: absolute;
	    left: 10px;
}
.ownw{
	position: absolute;
	    left: 82px;
}
.ownn{
	position: absolute;
	    left: 43px;
}
.earse{
	position: absolute;
    left: 292px;
}
.earsa{
	position: absolute;
	left: 340px;
}
.earsr{
	position: absolute;
	    left: 410px;
}
.earss{
	position: absolute;
	    left: 501px;
}
.withw{
	position: absolute;
	    left: 587px;
}
.withi{
	position: absolute;
	    left: 663px;
}
.witht{
	position: absolute;
	    left: 539px;
}
.withh{
	position: absolute;
	    left: 805px;
}
.itsi{
	position: absolute;
	    left: 10px;
}
.itst{
	position: absolute;
	    left: -114px;
}
.itss{
	position: absolute;
	    left: 176px;
}
.longl{
	position: absolute;
	    left: 267px;
}
.longo{
	position: absolute;
	left: 340px;
}
.longn{
	position: absolute;
	    left: 302px;
}
.longg{
	position: absolute;
	    left: 486px;
}
.tongueo{
	position: absolute;
	    left: 82px;
}
.tonguen{
	position: absolute;
	    left: 46px;

}
.tongueg{
	position: absolute;
	    left: 230px;
}
.tongueu{
	position: absolute;
    left: 224px;
}
.tonguee{
	position: absolute;
	    left: 400px;
}
.tonguet{
	position: absolute;
	    left: -187px;
}